Django==1.8.3
factory-boy==2.5.2
Faker==0.0.4
github3.py==1.0.0a2
oauthlib==1.0.1
psycopg2==2.6.1
pyasn1==0.1.8
requests==2.7.0
requests-oauthlib==0.5.0
selenium==2.47.1
six==1.9.0
splinter==0.7.2
tweepy==3.3.0
uritemplate.py==0.3.0
wsgiref==0.1.2
