Django==1.8.3
SwampDragon==0.4.2.2
backports.ssl-match-hostname==3.4.0.2
certifi==2015.04.28
dj-database-url==0.3.0
django-registration-redux==1.2
github3.py==1.0.0a2
ndg-httpsclient==0.4.0
oauthlib==1.0.1
psycopg2==2.6.1
pyOpenSSL==0.15.1
pyasn1==0.1.8
python-dateutil==2.4.2
redis==2.10.3
requests==2.7.0
requests-oauthlib==0.5.0
six==1.9.0
sockjs-tornado==1.0.1
tornado==4.2.1
tornado-redis==2.4.18
tweepy==3.3.0
uritemplate.py==0.3.0
wsgiref==0.1.2
