{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://www.i2symbol.com/images/symbols/write/keyboard_u2328_icon_256x256.png" />
    <title>CopyNHaste</title>
    <link href='http://fonts.googleapis.com/css?family=Abel|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/cover.css" %}">
</head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
          <div style="position:relative;">
            <img style="position:absolute;left:37%" src="{% static 'img/logo_white.png' %}" alt="My image"/>
          </div>

            <div class="inner">
              <nav>
                <ul class="nav masthead-nav">

                  <li ><a href="{% url 'homepage' %}">Home</a></li>
                  <li><a href="{% url 'typing_test' %}">Single</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'matchmaking' %}">Double</a></li>
                    <li><a href="{% url 'scores' %}">Scores</a></li>
                    <li><a href="{% url 'match_score' %}">Match Results</a></li>
                  <li><a href="{% url 'profile' %}">Profile</a></li>
                  <li><a href="{% url 'auth_logout' %}?next=/">Logout</a></li>
                     {% else %}
                  <li><a href="{% url 'auth_login' %}">Login</a></li>
                  <li><a href="{% url 'registration_register' %}">Register</a></li>
                    {% endif %}

                </ul>
              </nav>
            </div>
          </div>

        {% block content %}
        {% endblock %}<br><br><br><br>
          <div class="mastfoot">

    </div>
            <div class="inner">
            <footer style="clear:both;" class="text-center">&copy; 2015 CopynHaste, inc.</footer>
            </div>
          </div>

        </div>

      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
        <script type="text/javascript" id='chatbox'>
      var $_Tawk_API={},$_Tawk_LoadStart=new Date();
      (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/55a5513b84d307454c00f83a/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
      })();
    </script>

  </body>
</html>

<!--
 {% load staticfiles %}
<img src="{% static 'img/logo_white.png' %}" alt="My image"/> -->

