{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://www.i2symbol.com/images/symbols/write/keyboard_u2328_icon_256x256.png" />
    <title>CopyNHaste</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/cover.css" %}">
</head>
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Copy N Haste</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{% url 'homepage' %}">Home</a></li>
                    {% if user.is_authenticated %}
                  <li><a href="{% url 'profile' %}">profile</a>/li>
                  <li><a href="{% url 'auth_logout' %}?next=/">logout</a></li>
                     {% else %}
                  <li><a href="{% url 'auth_login' %}">login</a></li>
                  <li><a href="{% url 'registration_register' %}">register</a></li>
                    {% endif %}

                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Copy N Haste</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
            <footer style="clear:both;" class="text-center">&copy; 2015 CopynHaste, inc.</footer>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>








<!-- <h1>Copy N Haste</h1>
<nav>
Welcome, {% if user.is_authenticated %}{{ user }}{% else %}Guest{% endif %}!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'homepage' %}">home</a>
    {% if user.is_authenticated %}
    <a href="{% url 'profile' %}">profile</a>
    <a href="{% url 'auth_logout' %}?next=/">logout</a>
    {% else %}
    <a href="{% url 'auth_login' %}">login</a>
    <a href="{% url 'registration_register' %}">register</a>
    {% endif %}
</nav><br><br>
{% block content %}
{% endblock %}
<footer style="clear:both;" class="text-center">&copy; 2015 CopynHaste, inc.</footer>
</html>
 -->
