{% extends "base.html" %}
{% block content %}

  <h2 class="cover-heading">Welcome</h2>
  <p class="lead">to an awesome website where coders and civilians alike can train and show off their typing skills.</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
      $(document).ready(function() {
        var score = 2;
        for (i = 1; i < 50; i++) {
          var num = document.createElement('span');
          num.innerHTML = i % score;
          num.id = 'plane' + i;
          document.body.insertBefore(num, document.body.childNodes[0]);
        }
        function Fly(i) {
          var plane = $('#plane' + i);
          plane.html(i % score);
          plane.css('position', 'fixed');
          plane.css('padding', '10px');
          plane.css('cursor', 'pointer');
          plane.css('top', $(document).height());
          plane.css('left', $(document).width() * Math.random());
          rand = Math.random();
          plane.css('font-size', 70 * rand + 10);
          plane.css('z-index', 100);
          plane.delay(7000 * Math.random()).animate({top: -200}, 2000 / (rand + .5) + 4000 - (score * 100), 'linear', function() { Fly(i) });
        };
        for (i = 0; i < 50; i++) {
          Fly(i);
        }
        $( "span" ).click(function() {
          $( this ).stop();
          $( this ).animate({top: $(document).height() + $( this ).height() }, 300, 'linear');
          score += 1;
          Fly(i)
        });
      });
    </script>

{% endblock %}
