{% extends "base.html" %}
{% block content %}

<HEAD>
<style type="text/css">
*{font-family:Monospace;}

textarea {
    position:absolute;
    font-size:20px;
}
#type {
    color:red;
}
#typed {
    background:none;
    z-index:10;
}


</style>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</HEAD>
<BODY>

  <CENTER>
    <FORM name="theForm">
    <div id='test' class="placeholder">
    <textarea id="typed" name="typed" cols=50 rows=25></textarea>
    <textarea id="type" name="given" value="{{data2}}" cols=50 rows=25 disabled>
{{data2}}
    </textarea>
</div><br>
          <input type=button value="DONE"  name="stop"  onClick="stopIt()">
      <input type=button value="Start Typing Test" name="start" onClick="beginIt()"></FORM>
    </CENTER>
    <br>
  </center>
</BODY>
<SCRIPT LANGUAGE="JavaScript">
    function beginIt() {

      day = new Date();
      startType = day.getTime();
      document.theForm.typed.focus();
      document.theForm.typed.select();
    }
    function cheat() {
      document.theForm.typed.focus();
    }
    function stopIt() {
      word = document.theForm.typed.value.length
      dayTwo = new Date();
      endType = dayTwo.getTime();
      totalTime = ((endType - startType) / 1000)
      spd = Math.round((word/totalTime) * 60)
      var typed1 = document.theForm.typed.value;
      var given1 = document.theForm.given.value;
      alert(typed1 == given1)
      if (document.theForm.given.value == document.theForm.typed.value) {
        alert("\nYou typed a " + word + " character script in "
          + totalTime + " seconds, a speed of about " + spd + " characters per minute!")
      }
      else {
        alert("You made an error. Fix it, quick!")
      }
    }
  </SCRIPT>
{% endblock %}