{% extends "base.html" %}
{% block content %}

<HEAD>
<style type="text/css">
*{font-family:Monospace;}

textarea {
    position:absolute;
    font-size:20px;
}
#type {
    color:red;
}
#typed {
    background:none;
    z-index:10;
}
</style>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</HEAD>
<BODY>
  <CENTER>
    <FORM name="theForm">
    <div id='test' class="placeholder">
    <textarea id="typed" name="typed" cols=50 rows=25></textarea>
    <textarea id="type" name="given" value="{{data2}}" cols=50 rows=25 disabled>
{{data2}}
    </textarea>
</div><br>
          <input type=button value="DONE"  name="stop"  onClick="stopIt()">
      <input type=button value="Start Typing Test" name="start" onClick="beginIt()"></FORM>
    </CENTER>
    <br>
  </center>
</BODY>
<SCRIPT LANGUAGE="JavaScript">
    function beginIt() {

      day = new Date();
      startType = day.getTime();
      document.theForm.typed.focus();
      document.theForm.typed.select();
    }
    function cheat() {
      document.theForm.typed.focus();
    }
    function stopIt() {
      word = document.theForm.typed.value.length
      dayTwo = new Date();
      endType = dayTwo.getTime();
      totalTime = ((endType - startType) / 1000)
      spd = Math.round((word/totalTime) * 60)
      var typed1 = document.theForm.typed.value;
      var given1 = document.theForm.given.value;
      alert(typed1 == given1)
      if (document.theForm.given.value == document.theForm.typed.value) {
        alert("\nYou typed a " + word + " character script in "
          + totalTime + " seconds, a speed of about " + spd + " characters per minute!")
      }
      else {
        alert("You made an error. Fix it, quick!")
      }
    }
  </SCRIPT>
<CENTER>
<FORM name="theForm">
<TABLE BORDER=3 CELLSPACING=0 CELLPADDING=0>
<TR>
<TD>Are you a....</TD>
<TD align=center><input type=radio name="sme" value="Beginner" onClick="s()" checked>Beginner
<input type=radio name="sme" value="Novice" onClick="m()">Novice
<input type=radio name="sme" value="Expert" onClick="e()">Expert</TD>
</TR>
<TR><TD colspan=2><BR>
<center><input type=button value="Start Typing Test" name="start" onClick="beginIt()"></center><P>
<textarea name="given" cols=53 rows=3 wrap=on onFocus="cheat()"></textarea></TD>
</TR>
<TR><TD colspan=2><center><input type=text name="typed" size=45>
<input type=button value="DONE"  name="stop"  onClick="stopIt()"></center></TD>
</TR>
</TABLE></FORM>
</CENTER>
<p><center>
<font face="courier, helvetica" size="-2"
</center>

{% endblock %}
