{% extends "base.html" %}


{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "typing_test.css" %}">

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<textarea id="opponent" value="{{ opponent }}" hidden>{{ opponent }}</textarea>

<table cellpadding="5" align="center" width="50%">
<tbody>
<tr>
 <td class="score_label">&nbsp;&nbsp;Net / Gross WPM</td>
 <td class="score_label">Entry Errors</td>
 <td class="score_label">Accuracy</td>
 <td class="score_label">Elapsed / Remaining</td>
</tr>
<tr>
 <td class="score_value"><div id="stat_wpm">Not Started</div></td>
 <td class="score_value"><div id="stat_errors">Waiting...</div></td>
 <td class="score_value"><div id="stat_score">Waiting...</div></td>
 <td class="score_value"><div id="stat_timeleft">0:00</div></td>
</tr>
</tbody>
</table>

<div id='test2'>
  <textarea id="type2" rows=40 disabled></textarea>
  <textarea id="typed2" rows=40 disabled></textarea>
</div>

<div id='test'>
  <textarea id="type" value="{{ code }}" name="given" rows=40 disabled>{{ code }}</textarea>
  <textarea id="typed" name="typed" rows=40></textarea>
</div>
<script type="text/javascript" src="{% static 'typing_test.js' %}"></script>
{% endblock %}
