{% extends "base.html" %}
{% block content %}<br><br><br><br><br><br><br>

<style type="text/css">

  textarea {
    position: absolute;
    font-size: 14px;
    width: 500px;
    padding: -500px;
}
#type, #type2 {
    color: gray;
    background-color: black;
    opacity: .9;
}
#typed, #typed2 {
    background: none;
    z-index: 10;
    color: #00FF00;
}

#test {
  float: left;
  margin-left: -160px;
}

#test2 {
  float: right;
  margin-right: 350px;
}

</style>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<SCRIPT LANGUAGE="JavaScript">

var strToTest;

function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min)) + min;
}


$.ajax({url: 'https://api.github.com/search/repositories?q=language:python+sort:updated'}).done(function(data) {
  var l = data.items.length;
  var i = getRandomInt(0, l - 1);
  var item = data.items[i];
  var repo = item.name;
  var user = item.owner.login;

  $.ajax({url: 'https://api.github.com/search/code?q=language:python+repo:' + item.full_name}).done(function(codeData) {
    var cl = codeData.items.length;
    var ci = getRandomInt(0, cl - 1);
    var citem = codeData.items[ci];
    var path = citem.path;
    $.ajax({
           method : "POST",
            url : "/play/content/",
            data : {"user": user,
                    "repo": repo,
                    "path": path}
        }).done(function(response){
          $('#type').val(response);
          strToTest[0] = response;
          strToTestType = response;
        }).fail(function(){
            alert("fail");
        });
  });
});

var opponent = "{{ opponent }}"

var secs = 0;



$(document).delegate('#typed', 'keyup', function(e) {
  var keyCode = e.keyCode || e.which;

  if (keyCode == 9) {
    e.preventDefault();
    var start = $(this).get(0).selectionStart;
    var end = $(this).get(0).selectionEnd;

    // set textarea value to: text before caret + tab + text after caret
    $(this).val($(this).val().substring(0, start)
                + "\t"
                + $(this).val().substring(end));

    // put caret at right position again
    $(this).get(0).selectionStart =
    $(this).get(0).selectionEnd = start + 1;
  }

  $.ajax({
     method : "POST",
      url : "/play/multi/",
      data : {"user_input": $('#typed').val(),
              "opponent": opponent}
  }).done(function(response){
    $('#typed2').val(response)
  }).fail(function(){
      alert("fail");
  });
});

var hasStarted = false;

//strToTest is an array object that holds various strings to be used as the base typing test
// - If you update the array, be sure to update the intToTestCnt
//   with the number of ACTIVE testing strings
var intToTestCnt = 1;
strToTest = new Array("Loading, please wait...")
var strToTestType = "";

var checkStatusInt;

//General functions to allow for left and right trimming / selection of a string
function Left(str, n){
 if (n <= 0)
     return "";
 else if (n > String(str).length)
     return str;
 else
     return String(str).substring(0,n);
}
function Right(str, n){
    if (n <= 0)
       return "";
    else if (n > String(str).length)
       return str;
    else {
       var iLen = String(str).length;
       return String(str).substring(iLen, iLen - n);
    }
}
var intervalID;
//beginTest Function/Sub initializes the test and starts
//the timers to determine the WPM and Accuracy
function beginTest()
{
 //We're starting the test, so set the variable to true
 hasStarted = true;

 //Generate a date value for the current time as a baseline
 day = new Date();

 //Count the number of valid words in the testing baseline string
 cnt = strToTestType.split(" ").length;

 //Set the total word count to the number of valid words that need to be typed
 word = cnt;

 //Set the exact time of day that the testing has started
 startType = day.getTime();

 //Disable the printing button (if used, in this download it's not included)
 document.getElementById("printB").disabled = true;

 calcStat();

 //Initialize the testing objects by setting the values
 //of the buttons, what to type, and what is typed
 document.JobOp.given.value = strToTestType;
 document.JobOp.typed.value = "";

 //Apply focus to the text box the user will type the test into
 document.JobOp.typed.focus();
 document.JobOp.typed.select();
}

//User to deter from Copy and Paste, also acting as a testing protection system
// Is fired when the user attempts to click or apply focus
// to the text box containing what needs to be typed
function deterCPProtect()
{
 document.JobOp.typed.focus();
}

//The final call to end the test -- used when the
//user has completed their assignment
// This function/sub is responsible for calculating
// the accuracy, and setting post-test variables
function endTest()
{
  window.clearInterval(intervalID)
 //Clear the timer that tracks the progress of the test, since it's complete
 clearTimeout(checkStatusInt);

 //Initialize an object with the current date/time
 //so we can calculate the difference
 eDay = new Date();
 endType = eDay.getTime();
 totalTime = ((endType - startType) / 1000)

 //Calculate the typing speed by taking the number of valid words
 //typed by the total time taken and multiplying it by one minute in seconds (60)
 //***** 1A ********************************************************** 1A *****
 //We also want to disregard if they used a double-space after
 //a period, if we didn't then it would throw everything after the space off
 //Since we are using the space as the seperator for words; it's the
 //difference between "Hey. This is me.
 //" versus "Hey. This is me." and
 //Having the last three words reporting as wrong/errors due
 //to the double space after the first period, see?
 //****************************************************************************
 wpmType = Math.round(((document.JobOp.typed.value.replace(/  /g,
                  " ").split(" ").length)/totalTime) * 60)


 //Declare an array of valid words for what NEEDED to be typed and what WAS typed
 //Again, refer to the above statement on removing the double spaces globally (1A)
 var typedValues = document.JobOp.typed.value.replace(/  /g, " ");
 var neededValues = Left(document.JobOp.given.value,
         typedValues.length).replace(/  /g, " ").split(" ");
 typedValues = typedValues.split(" ");

 //Disable the area where the user types the test input
 document.JobOp.typed.disabled=true;

 //Declare variable references to various statistical layers
 var tErr = document.getElementById("stat_errors");
 var tscore = document.getElementById("stat_score");
 var tStat = document.getElementById("stat_wpm");
 var tTT = document.getElementById("stat_timeleft");

 var tArea = document.getElementById("TypeArea");
 var aArea = document.getElementById("AfterAction");
 var eArea = document.getElementById("expectedArea");

 //Initialize the counting variables for the good valid words and the bad valid words
 var goodWords = 0;
 var badWords = 0;

 //Declare a variable to hold the error words
 //we found and also a detailed after action report
 var errWords = "";
 var aftReport = "<b>Detailed Summary:</b><br>" +
                 "<font color=\"DarkGreen\">";

 //Enable the printing button
 document.getElementById("printB").disabled = false;

 //Loop through the valid words that were possible
 //(those in the test baseline of needing to be typed)
 var str;
 var i = 0;
 for (var i = 0; i < word; i++)
 {
  //If there is a word the user typed that is
  //in the spot of the expected word, process it
  if (typedValues.length > i)
  {
   //Declare the word we expect, and the word we recieved
   var neededWord = neededValues[i];
   var typedWord = typedValues[i];

   //Determine if the user typed the correct word or incorrect
   if (typedWord != neededWord)
   {
    //They typed it incorrectly, so increment the bad words counter
    badWords = badWords + 1;
    errWords += typedWord + " = " + neededWord + "\n";
    aftReport += "<font color=\"Red\"><u>" +
                 neededWord + "</u></font> ";
   }
   else
   {
    //They typed it correctly, so increment the good words counter
    goodWords = goodWords + 1;
    aftReport += neededWord + " ";
   }
  }
  else
  {
   //They didn't even type this word, so increment the bad words counter
   //Update: We don't want to apply this penalty because they may have chosen to end the test
   //    and we only want to track what they DID type and score off of it.
   //badWords = badWords + 1;
  }
 }

 //Finalize the after action report variable with the typing summary
 //at the beginning (now that we have the final good and bad word counts)
 aftReport += "</font>";
 aftReport = "<b>Typing Summary:</b><br>You typed " +
            (document.JobOp.typed.value.replace(/  /g, " ").split(" ").length) +
            " words in " + totalTime + " seconds, a speed of about " +
            wpmType + " words per minute.\n\nYou also had " + badWords +
            " errors, and " + goodWords + " correct words, giving scoring of " +
            ((goodWords / (goodWords+badWords)) * 100).toFixed(2) +
            "%.<br><br>" + aftReport;

 //Set the statistical label variables with what
 //we found (errors, words per minute, time taken, etc)
 tErr.innerText = badWords + " Errors";
 tStat.innerText= (wpmType-badWords) + " WPM / " + wpmType + " WPM";
 tTT.innerText = totalTime.toFixed(2) + " sec. elapsed"

 document.getElementById("wpm_net").value = (wpmType-badWords);
 document.getElementById("wpm_gross").value = wpmType;
 document.getElementById("errors").value = badWords;
 document.getElementById("score").value = ((goodWords / (goodWords+badWords)) * 100).toFixed(2);

 //Calculate the accuracy score based on good words typed
 //versus total expected words -- and only show the percentage as ###.##
 tscore.innerText = ((goodWords / (goodWords+badWords)) * 100).toFixed(2) + "%";


 //Notify the user of their testing status via a JavaScript Alert
 //Update: There isn't any need in showing this popup now that
 //we are hiding the typing area and showing a scoring area
 //alert("You typed " + (document.JobOp.typed.value.split(" ").length) +
 //        " words in " + totalTime + " seconds, a speed of about " +
 //        wpmType + " words per minute.\n\nYou also had " + badWords +
 //        " errors, and " + goodWords + " correct words, giving scoring of " +
 //       ((goodWords / (goodWords+badWords)) * 100).toFixed(2) + "%.");
  document.forms["myForm"].submit();
}

//calcStat is a function called as the user types
//to dynamically update the statistical information
function calcStat()
{
//If something goes wrong, we don't want to cancel the test -- so fallback
//error proection (in a way, just standard error handling)
try {
 //Reset the timer to fire the statistical update function again in 250ms
 //We do this here so that if the test has ended (below) we can cancel and stop it
 checkStatusInt=setTimeout('calcStat();',250);

 //Declare reference variables to the statistical information labels
 var tStat = document.getElementById("stat_wpm");
 var tTT = document.getElementById("stat_timeleft");

 var tProg = document.getElementById("stProg");
 var tProgt = document.getElementById("thisProg");

 var tArea = document.getElementById("TypeArea");
 var aArea = document.getElementById("AfterAction");
 var eArea = document.getElementById("expectedArea");

 //Refer to 1A (above) for details on why we are removing the double space
 var thisTyped = document.JobOp.typed.value.replace(/  /g, " ");

 //Create a temp variable with the current time of day to calculate the WPM
 eDay = new Date();
 endType = eDay.getTime();
 totalTime = ((endType - startType) / 1000)

 //Calculate the typing speed by taking the number of valid words
 //typed by the total time taken and multiplying it by one minute in seconds (60)
 wpmType = Math.round(((thisTyped.split(" ").length)/totalTime) * 60)


 //Set the words per minute variable on the statistical information block
 tStat.innerText=wpmType + " WPM";


 //Calculate and show the time taken to reach this point
 //of the test and also the remaining time left in the test
 //Colorize it based on the time left (red if less
 //than 5 seconds, orange if less than 15)
 if (Number(60-totalTime) < 5)
 {
  tTT.innerHTML="<font color=\"Red\">" + String(totalTime.toFixed(2)) +
                " sec. / " + String(Number(60-totalTime).toFixed(2)) +
                " sec.</font>";
 }
 else
 {
  if (Number(60-totalTime) < 15)
  {
   tTT.innerHTML="<font color=\"Orange\">" +
                 String(totalTime.toFixed(2)) + " sec. / " +
                 String(Number(60-totalTime).toFixed(2)) + " sec.</font>";
  }
  else
  {
   tTT.innerHTML=String(totalTime.toFixed(2)) + " sec. / " +
                 String(Number(60-totalTime).toFixed(2)) + " sec.";
  }
 }

 //Determine if the user has typed all of the words expected
 if ((((thisTyped.split(" ").length)/word)*100).toFixed(2) >= 100)
 {
  tProg.width="100%";

  tProgt.innerText = "100%";
 }
 else
 {
  //Set the progress bar with the exact percentage of the test completed
  tProg.width=String((((thisTyped.split(" ").length)/word)*100).toFixed(2))+"%";

  tProgt.innerText = tProg.width;
 }

 //Determine if the test is complete based on them
 //having typed everything exactly as expected
 if (thisTyped.value == document.JobOp.given.value)
 {
  endTest();
 }

 //Determine if the test is complete based on whether or not they have
 //typed exactly or exceeded the number of valid words (determined by a space)
 if (word <= (thisTyped.split(" ").length) + 1)
 {
  endTest();
 }

 //Check the timer; stop the test if we are at or exceeded 60 seconds
 if (totalTime >= 60)
 {
  endTest();
 }

//Our handy error handling
} catch(e){};
}

//Simply does a check on focus to determine if the test has started
function doCheck()
{
 if (hasStarted == false)
 {
  //The test has not started, but the user is typing already -- maybe we should start?
  beginTest(); //Yes, we should -- consider it done!
 }
}
</SCRIPT>
<div align="center">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
  <tr>
   <td style="border-bottom: 2px solid #354562; padding: 4px" class="titlec">
   <input disabled="" id="printB" onclick="window.print();"
       type="button" value="Print Results" name="printB"
       style="float: right; font-size: 8pt; font-family: Courier" />
   <input onclick="document.getElementById('AfterAction').style.display='none';
              document.getElementById('expectedArea').style.display='block';
              document.getElementById('typeArea').style.display='block';
              document.JobOp.typed.value='';document.JobOp.typed.disabled=false;
              randNum = Math.floor((Math.random() * 10)) % intToTestCnt;
              strToTestType = strToTest[randNum];
              document.JobOp.given.value = strToTestType;"
         type="button" value="New Test"
         name="newtest"
         style="float: center; font-size: 6pt; font-family: Courier" /></td>
  </tr>
 </tbody>
 </table>
</div>
<table border="0" cellpadding="0"
           cellspacing="0" width="100%">
 <tbody>
 <tr>
  </td>
 </tr>
 <tr>
  <td style="padding: 4px" class="bodya" colspan="2">
  <form name="JobOp">
   <table border="0" cellpadding="5" width="100%">
    <tbody>
    <tr>
     <td>
     <table border="0" cellpadding="5" width="100%">
      <tbody>
      <tr>
       <td align="center"
         style="border-left: 1px solid #344270; border-right: 2px solid #344270;
                border-top: 1px solid #344270; border-bottom: 2px solid #344270;
                padding: 5px; background-color: #CED3E8">
       <b><font face="Courier" size="2" color="#FFFFFF">Net /
       Gross WPM</font></b></td>
       <td align="center"
          style="border-left: 1px solid #344270;
                 border-right: 2px solid #344270; border-top: 1px solid #344270;
                 border-bottom: 2px solid #344270; padding: 5px;
                 background-color: #CED3E8">
       <b><font face="Courier" size="2" color="#FFFFFF">Entry
       Errors</font></b></td>
       <td align="center"
           style="border-left: 1px solid #344270; border-right: 2px solid #344270;
                  border-top: 1px solid #344270; border-bottom: 2px solid #344270;
                  padding: 5px; background-color: #CED3E8">
       <b><font face="Courier" size="2" color="#FFFFFF">Accuracy</font></b></td>
       <td align="center"
          style="border-left: 1px solid #344270; border-right: 2px solid #344270;
                 border-top: 1px solid #344270; border-bottom: 2px solid #344270;
                 padding: 5px; background-color: #CED3E8">
       <b><font face="Courier" size="2" color="#FFFFFF">Elapsed
       / Remaining</font></b></td>
      </tr>
      <tr>
       <td align="center"><font size="2" face="Courier">
       <div id="stat_wpm">
        Not Started</div>
       </font></td>
       <td style="border-left: 1px dotted #8794C7; border-right: 1px dotted #8794C7;
                  border-top-width: 1px; border-bottom-width: 1px" align="center">
       <font size="2" face="Courier">
       <div id="stat_errors">
        Waiting...</div>
       </font></td>
       <td style="border-left-width: 1px; border-right: 1px dotted #8794C7;
                  border-top-width: 1px; border-bottom-width: 1px" align="center">
       <font size="2" face="Courier">
       <div id="stat_score">
        Waiting...</div>
       </font></td>
       <td align="center"><font size="2" face="Courier">
       <div id="stat_timeleft">
        0:00</div>
       </font></td>
      </tr>
     </tbody>
     </table>
     </td>
    </tr>
    <tr>
     <td style="border-left-width: 1px; border-right-width: 1px;
                border-top: 1px solid #344270; border-bottom-width: 1px">
     <div id="expectedArea" style="display:block">
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
     </div>
     </td>
    </tr>
    <tr>
     <td style="font-family: Courier; font-size: 9pt">
     <div id="typeArea" style="display:block">
      <table border="0" width="100%" cellspacing="1">
       <tbody>
       <tr>
        <td style="border: 1px solid #9CA8D1; background-color: #EAECF4">
        <div align="left">
         <table id="stProg" border="0"
                     width="0%" cellspacing="1">
          <tbody>
          <tr>
           <td style="border: 1px solid #344270; background-color: #8F9BCB;
                       font-family:Courier; font-size:8pt; color:#FFFFFF"
                       align="right">
           <div id="thisProg">
            0%</div>
           </td>
          </tr>
         </tbody>
         </table>
        </div>
        </td>
       </tr>
      </tbody>
      </table>
      <p style="margin-top: 0; margin-bottom: 0">

<div id='test' class="placeholder" style="display: block;">
    <textarea onkeypress="doCheck();" onkeydown="//calcStat()" id="typed" name="typed" cols=50 rows=50></textarea>
    <textarea id="type" name="given" cols=50 rows=50 disabled>
    </textarea>
     </div>


</div>
<div id='test2'>
<textarea id="typed2" cols=50 rows=50 disabled></textarea>
    <textarea id="type2" cols=50 rows=50 disabled>
    </textarea>
    </div>
     <div id="afterAction" style="display:none">
     </div>
     <br>

      </p>
     </div>
     <div id="afterAction" style="display:none">
     </div>
     </td>
    </tr>
    <script>
 randNum = Math.floor((Math.random() * 10)) % intToTestCnt;
 strToTestType = strToTest[randNum];

 document.JobOp.given.value = strToTestType;
 document.JobOp.typed.focus();
 </script>
   </tbody>
   </table>
  </form>
  </td>
 </tr>
</tbody>
</table>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<form id="myForm" name="myForm" action="{% url 'report_results' %}" method="POST">
{% csrf_token %}
  <input type='hidden' id="wpm_net" name="wpm_net" value="default">
  <input type='hidden' id="wpm_gross" name="wpm_gross" value="default">
  <input type='hidden' id="errors" name="mistakes" value="default">
  <input type='hidden' id="score" name="score" value="default">
</form>

{% endblock %}
